@inherits LayoutComponentBase

<PageTitle>Facturacion</PageTitle>

<!-- navbar header menu -->
<NavMenu SidebarToggle="SidebarToggle" />
<section class="home-section">
    <nav class="header">
        <div class="sidebar-button">
            <i class="bx bx-menu" @onclick="() => SidebarToggle = !SidebarToggle"></i>
        </div>
    </nav>
    <div class="home-body">
        @Body
    </div>
</section>

@code {
    public bool SidebarToggle { get; set; }
}