@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');

/* CUSTOM FIXES */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body-form {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form-container {
    width: 100%;
    max-width: 1000px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.35);
}

    .form-container .title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        position: relative;
    }

        .form-container .title::before {
            content: '';
            position: absolute;
            width: 144px;
            bottom: 0;
            left: 40% auto;
            height: 3px;
            background: #e74c3c;
            margin: 0 auto;
        }

    .form-container form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5px 0 12px 0;
    }

        .form-container form .user-details .box {
            margin-bottom: 5px;
            width: calc(80% / 2 - 20px);
        }

            .form-container form .user-details .box .input-box {
                margin-bottom: 5px;
            }

        .form-container form .user-details .details {
            font-size: 14px;
            font-weight: 600;
        }

        .form-container form .user-details .input-box input,
        .form-container form .user-details .input-box select {
            height: 30px;
            width: 100%;
            border-radius: 5px;
            padding-left: 10px;
            border: 1px solid #ccc;
            outline: none;
            font-size: 14px;
            border-bottom-width: 2px;
            border-right-width: 2px;
        }

            .form-container form .user-details .input-box input:focus {
                border-color: #e74c3c;
            }

    .button {
        height: 30px;
        margin: 10px 0;
        display: flex;
        justify-content: end;
        bottom: 0;
        right: 0;
    }

         .button button {
            width: 14%;
            border: none;
            background: #e74c3c;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        }

             .button button:hover {
                background: #d43b2a;
            }

.facturables {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

    .facturables * {
        margin: 0;
        padding: 25px;
        color: #494b4d;
        font-size: 12px;
        line-height: 20px;
    }

    .facturables table {
        vertical-align: top;
        width: 100%;
        overflow-x: auto;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .facturables th {
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;
        background: #f2f0e6;
    }

    .facturables th,
    .facturables td {
        padding: 6px 12px;
        border: 1px solid #d9d7ce;
    }

    .facturables tbody tr {
        transition: background 0.2s ease;
    }

        .facturables tbody tr:hover {
            background: #f5f5f5;
            cursor: pointer;
        }



@media screen and (max-width: 640px) {
    .form-container form .button {
        justify-content: center;
    }

    .form-container form .user-details .input-box {
        width: 100%;
    }
}
